<header class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLink]="['/']"
              >Home</a
            >
            <!-- <a class="nav-link active" aria-current="page" href="#">Active</a> -->
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/page', 1]"
              >Page 1</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['/page', 2]"
              >Page 2</a
            >
          </li>
        </ul>
        <!-- <a [routerLink]="['/']">Home</a> -->
      </div>
    </div>
  </div>
</header>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
